# DATA COMBINING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Folder path containing the CSV files
folder_path = "D:\\6980-Capstone\\Individual Project\\datasets"

# List all CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Sort the files to ensure they are processed in chronological order
csv_files.sort()

print(csv_files)

['2011.csv', '2012.csv', '2013.csv', '2014.csv', '2015.csv', '2016.csv', '2017.csv', '2018.csv', '2019.csv', '2020.csv', '2021.csv', '2022.csv', '2023.csv', '2024.csv', '2025.csv']

In [3]:
# Initialize an empty DataFrame for the combined data
df = pd.DataFrame()

# Loop through each file and combine them
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    print(f"Processing file: {file}")
    
    # Extract the year from the file name (e.g., "2011.csv" -> 2011)
    year = int(file.split('.')[0])
    
    # Read the CSV file
    data = pd.read_csv(file_path)
    
    # Add a 'year' column
    data['year'] = year
    
    # Append the data to the combined DataFrame
    df = pd.concat([df, data], ignore_index=True)

# Verify the combined dataset
print(f"Combined dataset shape: {df.shape}")

Processing file: 2011.csv
Processing file: 2012.csv
Processing file: 2013.csv
Processing file: 2014.csv
Processing file: 2015.csv
Processing file: 2016.csv
Processing file: 2017.csv
Processing file: 2018.csv
Processing file: 2019.csv
Processing file: 2020.csv
Processing file: 2021.csv
Processing file: 2022.csv
Processing file: 2023.csv
Processing file: 2024.csv
Processing file: 2025.csv
Combined dataset shape: (3061377, 31)

In [4]:
#save the file to path
output_file = os.path.join(folder_path, "df.csv")
df.to_csv(output_file, index=False)
print(f"Combined dataset saved to: {output_file}")

Combined dataset saved to: D:\6980-Capstone\Individual Project\datasets\df.csv

In [5]:
# Path to the combined dataset
combined_file_path = "D:\\6980-Capstone\\Individual Project\\datasets\\df.csv"

# Read the combined dataset
df = pd.read_csv(combined_file_path)

# Check the total number of rows
print(f"Total rows in the combined dataset: {df.shape[0]}")

Total rows in the combined dataset: 3061377

# DATA CLEANING


CLOSURE_REASON - Employees give a closure status and then enter text indicating findings or work done to close a given case.

CASE_TITLE - Title given to a case. Most titles are self-evident. This field is entered by call takers on a call-by-call basis.

SUBJECT - Part of a case classification hierarchy (SUBJECT > REASON > TYPE) Subhect denotes which department a case is assigned to:

REASON - Part of a case classification hierarchy (SUBJECT > REASON > TYPE). This is an overall ‘umbrella’ for a collection of similar case types.

TYPE - Part of a case classification hierarchy (SUBJECT > REASON > TYPE). Individual case type entered by call taker.

QUEUE - Queue a case is assigned to. There are multiple queues within many departments which reflect the nature of the case.
 
Department - Department a case is assigned to. This value is derived from the first 4 digits of the queue column. For departmental information or descriptions see cityofboston.gov

fire_district - BFD fire district case is within. There are 2 divisions and 9 districts. Division 1 is comprised of Districts 1, 3 (includes old district 2), 4, 6, and 11. Division 2 is comprised of
Districts 7, 8, 9, and 12.

city_council_district - City Council district a case falls within:

police_district - Police district a case falls within

neighborhood - Neighborhood relayed by caller and entered by call taker. There are redundancies and missing values within this field.


neighborhood_services_district - districts under the Office of Neighborhood Services, a City of Boston office that “...encourages, facilitates and maximizes citizen input and participation in all aspects of government through service requests, neighborhood meetings, mailings, and emergency responses.”

ward - Election ward a case falls within
 
precinct - Election precinct a case falls within see: ward map (http://bit.ly/1BAMRTw)
land_usage - Usage allowed for a given parcel of land. See: http://bit.ly/1EuKvoC


LOCATION_ZIPCODE - Zip code a case falls within

In [8]:
#load the combined dataset
df = pd.read_csv(combined_file_path)

In [9]:
print(df.columns)
print(df.shape)

Index(['case_enquiry_id', 'open_dt', 'sla_target_dt', 'closed_dt', 'on_time',
       'case_status', 'closure_reason', 'case_title', 'subject', 'reason',
       'type', 'queue', 'department', 'submitted_photo', 'closed_photo',
       'location', 'fire_district', 'pwd_district', 'city_council_district',
       'police_district', 'neighborhood', 'neighborhood_services_district',
       'ward', 'precinct', 'location_street_name', 'location_zipcode',
       'latitude', 'longitude', 'geom_4326', 'source', 'year'],
      dtype='object')
(3061377, 31)

In [10]:
df.head()

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source,year
0,101000295613,2011-06-30 21:32:33,2011-07-14 21:32:32,2011-07-01 01:06:58,ONTIME,Closed,Case Closed Case Resolved replaced 100 amp fus...,Street Light Outages,Public Works Department,Street Lights,...,7,Ward 17,1714,INTERSECTION Groveland St & River St,NaN,42.271544,-71.077221,0101000020E6100000CC4F6F30F1C451C0ADBC83F5C122...,Employee Generated,2011
1,101000295614,2011-06-30 22:18:31,2011-07-04 22:18:31,2011-07-01 02:12:43,ONTIME,Closed,Case Closed Case Scheduled Items have been sch...,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,10,Ward 20,2008,39 Lorraine St,2131.0,42.283850,-71.144741,0101000020E6100000C960F36E43C951C06CE46A2F5524...,Self Service,2011
2,101000295615,2011-06-30 22:28:04,2011-08-14 22:28:04,2011-08-01 11:21:46,ONTIME,Closed,Case Closed Case Resolved No Sidewalk and poor...,New Sign Crosswalk or Pavement Marking,Transportation - Traffic Division,Signs & Signals,...,12,Ward 20,2017,INTERSECTION Corey St & Lagrange St,NaN,42.300278,-71.169805,0101000020E6100000B311E014DECA51C0A1102F826F26...,Self Service,2011
3,101000295616,2011-06-30 23:03:48,2011-07-14 23:03:48,2011-07-22 12:13:45,OVERDUE,Closed,Case Closed Case Resolved completed,Street Light Outages,Public Works Department,Street Lights,...,10,Ward 18,1816,235 Fairmount Ave,2136.0,42.249640,-71.115631,0101000020E61000003219CE7E66C751C0DDF2D930F41F...,Self Service,2011
4,101000295617,2011-06-30 23:12:31,NaN,2011-07-01 02:12:38,ONTIME,Closed,Case Closed Case Resolved,Highway Maintenance,Public Works Department,Highway Maintenance,...,7,Ward 13,1309,INTERSECTION Dorchester Ave & Hallam St,NaN,42.314436,-71.056878,0101000020E6100000615079E5A3C351C0C71CEA6D3F28...,Constituent Call,2011

In [11]:
# Convert 'open_dt', 'sla_target_dt', and 'closed_dt' to datetime
df['open_dt'] = pd.to_datetime(df['open_dt'])
df['sla_target_dt'] = pd.to_datetime(df['sla_target_dt'])
df['closed_dt'] = pd.to_datetime(df['closed_dt'])
df['case_enquiry_id'] = df['case_enquiry_id'].astype('object')  # ID should not be numerical
df['on_time'] = df['on_time'].astype('category')  # Only 2 possible values
df['year'] = df['year'].astype('category')  # If not used in numerical operations

# Verify the changes
print(df.dtypes)

case_enquiry_id                           object
open_dt                           datetime64[ns]
sla_target_dt                     datetime64[ns]
closed_dt                         datetime64[ns]
on_time                                 category
case_status                               object
closure_reason                            object
case_title                                object
subject                                   object
reason                                    object
type                                      object
queue                                     object
department                                object
submitted_photo                           object
closed_photo                              object
location                                  object
fire_district                             object
pwd_district                              object
city_council_district                     object
police_district                           object
neighborhood                              object
neighborhood_services_district            object
ward                                      object
precinct                                  object
location_street_name                      object
location_zipcode                         float64
latitude                                 float64
longitude                                float64
geom_4326                                 object
source                                    object
year                                    category
dtype: object

## Removing unnecessary columns

In [15]:
#removing unnecessary columns
drop_col = ['submitted_photo', 'closed_photo', 'geom_4326']
df.drop(columns=drop_col, inplace=True)

In [16]:
df.shape

(3061377, 28)

## Handling Null Values

In [18]:
check_null = df.isnull().sum()
nullpercent = check_null/len(df)* 100
print(nullpercent)

case_enquiry_id                    0.000000
open_dt                            0.000000
sla_target_dt                     14.578701
closed_dt                          7.878742
on_time                            0.021918
case_status                        0.000000
closure_reason                     0.000000
case_title                         0.020677
subject                            0.000000
reason                             0.000000
type                               0.000000
queue                              0.000000
department                         0.000000
location                           0.000000
fire_district                      0.203895
pwd_district                       0.047560
city_council_district              0.010028
police_district                    0.038316
neighborhood                       0.096395
neighborhood_services_district     0.010224
ward                               0.005880
precinct                           0.061084
location_street_name               1.906626
location_zipcode                  22.653727
latitude                           1.532938
longitude                          1.532938
source                             0.000000
year                               0.000000
dtype: float64

### Dropping records for columns with < 5% null values

In [20]:
col_to_drop = ['on_time', 'case_title', 'fire_district', 'pwd_district', 'city_council_district', 
'police_district', 'neighborhood', 'neighborhood_services_district', 
'ward', 'precinct', 'location_street_name', 'latitude', 'longitude']

df.dropna(subset=col_to_drop, inplace=True)

In [21]:
df.shape

(2991803, 28)

### Handling sla_target_dt missing values

In [23]:
check_null = df.isnull().sum()
nullpercent = check_null/len(df)* 100
print(nullpercent)

case_enquiry_id                    0.000000
open_dt                            0.000000
sla_target_dt                     14.534747
closed_dt                          7.466133
on_time                            0.000000
case_status                        0.000000
closure_reason                     0.000000
case_title                         0.000000
subject                            0.000000
reason                             0.000000
type                               0.000000
queue                              0.000000
department                         0.000000
location                           0.000000
fire_district                      0.000000
pwd_district                       0.000000
city_council_district              0.000000
police_district                    0.000000
neighborhood                       0.000000
neighborhood_services_district     0.000000
ward                               0.000000
precinct                           0.000000
location_street_name               0.000000
location_zipcode                  21.051085
latitude                           0.000000
longitude                          0.000000
source                             0.000000
year                               0.000000
dtype: float64

In [24]:
# Calculate SLA duration for each case_title
df['sla_duration'] = (df['sla_target_dt'] - df['open_dt']).dt.days

# Group by case_title and calculate average SLA duration
case_title_sla = df.groupby('case_title')['sla_duration'].mean().reset_index()

# Display the relationship
print(case_title_sla.sort_values(by='sla_duration', ascending=False))

                                              case_title  sla_duration
7665                                           Light out       17633.0
99        102 Tyler st Dug up conduit. Repair as needed.       17633.0
153    79 Howland St. Roxbury Mass.---Light out at th...       17632.0
23632  Street Light Outages  ( Printed ) MBTA FLAGMAN...       13504.0
8513                  Maximo WorkOrder 396629 suspended        13489.0
...                                                  ...           ...
28921           tighten composite cover bolts////printed           NaN
28930                                   trash collection           NaN
28936                                      two bluebikes           NaN
28945                              utility patch cut out           NaN
28966                            wooden pole/reallocated           NaN

[28968 rows x 2 columns]

In [25]:
def impute_sla_target_dt(row):
    if pd.isnull(row['sla_target_dt']):
        # Get the average sla_duration for the case_title
        matching_rows = case_title_sla.loc[case_title_sla['case_title'] == row['case_title']]
        
        if not matching_rows.empty and not pd.isnull(matching_rows['sla_duration'].iloc[0]):
            avg_duration = matching_rows['sla_duration'].iloc[0]
            # Calculate the imputed sla_target_dt
            imputed_sla_target_dt = row['open_dt'] + pd.Timedelta(days=avg_duration)
            return imputed_sla_target_dt
        else:
            # Handle the case when no matching case_title or sla_duration is NaN
            # You could use a default duration or handle it in another way
            default_duration = 14  # Example default duration in days
            imputed_sla_target_dt = row['open_dt'] + pd.Timedelta(days=default_duration)
            return imputed_sla_target_dt
    else:
        return row['sla_target_dt']

# Apply the imputation function
df['sla_target_dt'] = df.apply(impute_sla_target_dt, axis=1)

In [26]:
check_null_sla = df['sla_target_dt'].isnull().sum()
nullpercent_sla = check_null_sla/len(df)* 100
print(nullpercent_sla)

0.0

### Handling closed_dt column missing values

In [28]:
# Calculate the average time difference for closed_dt
time_diff = (df['closed_dt'] - df['open_dt']).dropna().mean()

# Function to impute missing closed_dt values
def impute_closed_dt(row):
    if pd.isnull(row['closed_dt']):
        imputed_closed_dt = row['open_dt'] + time_diff
        return imputed_closed_dt
    else:
        return row['closed_dt']

# Apply the imputation function
df['closed_dt'] = df.apply(impute_closed_dt, axis=1)

In [29]:
check_null_cdate = df['closed_dt'].isnull().sum()
nullpercent_cdate = check_null_cdate/len(df)* 100
print(nullpercent_cdate)

0.0

In [30]:
df.head()

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,source,year,sla_duration
0,101000295613,2011-06-30 21:32:33,2011-07-14 21:32:32.000000000,2011-07-01 01:06:58,ONTIME,Closed,Case Closed Case Resolved replaced 100 amp fus...,Street Light Outages,Public Works Department,Street Lights,...,7,Ward 17,1714,INTERSECTION Groveland St & River St,NaN,42.271544,-71.077221,Employee Generated,2011,13.0
1,101000295614,2011-06-30 22:18:31,2011-07-04 22:18:31.000000000,2011-07-01 02:12:43,ONTIME,Closed,Case Closed Case Scheduled Items have been sch...,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,10,Ward 20,2008,39 Lorraine St,2131.0,42.283850,-71.144741,Self Service,2011,4.0
3,101000295616,2011-06-30 23:03:48,2011-07-14 23:03:48.000000000,2011-07-22 12:13:45,OVERDUE,Closed,Case Closed Case Resolved completed,Street Light Outages,Public Works Department,Street Lights,...,10,Ward 18,1816,235 Fairmount Ave,2136.0,42.249640,-71.115631,Self Service,2011,14.0
4,101000295617,2011-06-30 23:12:31,2011-07-26 05:31:27.842105263,2011-07-01 02:12:38,ONTIME,Closed,Case Closed Case Resolved,Highway Maintenance,Public Works Department,Highway Maintenance,...,7,Ward 13,1309,INTERSECTION Dorchester Ave & Hallam St,NaN,42.314436,-71.056878,Constituent Call,2011,NaN
5,101000295618,2011-06-30 23:43:07,2011-07-01 11:43:07.000000000,2011-07-05 05:16:10,ONTIME,Closed,Case Closed Case Noted,Notification,Mayor's 24 Hour Hotline,Notification,...,11,Ward 10,1006,7 Edge Hill St,2130.0,42.324290,-71.106031,Constituent Call,2011,NaN

# Geocoding

In [32]:
import geopandas as gpd

# Assuming df is your DataFrame with latitude and longitude columns

# Create a GeoDataFrame
gdf = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df.longitude, df.latitude),
    crs="EPSG:4326"
)

# Now gdf is a GeoDataFrame with geometry column
print(gdf.head())

  case_enquiry_id             open_dt                 sla_target_dt  \
0    101000295613 2011-06-30 21:32:33 2011-07-14 21:32:32.000000000
1    101000295614 2011-06-30 22:18:31 2011-07-04 22:18:31.000000000
3    101000295616 2011-06-30 23:03:48 2011-07-14 23:03:48.000000000
4    101000295617 2011-06-30 23:12:31 2011-07-26 05:31:27.842105263
5    101000295618 2011-06-30 23:43:07 2011-07-01 11:43:07.000000000

            closed_dt  on_time case_status  \
0 2011-07-01 01:06:58   ONTIME      Closed
1 2011-07-01 02:12:43   ONTIME      Closed
3 2011-07-22 12:13:45  OVERDUE      Closed
4 2011-07-01 02:12:38   ONTIME      Closed
5 2011-07-05 05:16:10   ONTIME      Closed

                                      closure_reason  \
0  Case Closed Case Resolved replaced 100 amp fus...
1  Case Closed Case Scheduled Items have been sch...
3               Case Closed Case Resolved completed
4                         Case Closed Case Resolved
5                            Case Closed Case Noted

                    case_title                  subject               reason  \
0         Street Light Outages  Public Works Department        Street Lights
1  Schedule a Bulk Item Pickup  Public Works Department           Sanitation
3         Street Light Outages  Public Works Department        Street Lights
4          Highway Maintenance  Public Works Department  Highway Maintenance
5                 Notification  Mayor's 24 Hour Hotline         Notification

   ...     ward precinct                     location_street_name  \
0  ...  Ward 17     1714     INTERSECTION Groveland St & River St
1  ...  Ward 20     2008                           39 Lorraine St
3  ...  Ward 18     1816                        235 Fairmount Ave
4  ...  Ward 13     1309  INTERSECTION Dorchester Ave & Hallam St
5  ...  Ward 10     1006                           7 Edge Hill St

  location_zipcode   latitude  longitude              source  year  \
0              NaN  42.271544 -71.077221  Employee Generated  2011
1           2131.0  42.283850 -71.144741        Self Service  2011
3           2136.0  42.249640 -71.115631        Self Service  2011
4              NaN  42.314436 -71.056878    Constituent Call  2011
5           2130.0  42.324290 -71.106031    Constituent Call  2011

  sla_duration                    geometry
0         13.0  POINT (-71.07722 42.27154)
1          4.0  POINT (-71.14474 42.28385)
3         14.0  POINT (-71.11563 42.24964)
4          NaN  POINT (-71.05688 42.31444)
5          NaN  POINT (-71.10603 42.32429)

[5 rows x 30 columns]

In [33]:
gdf.head()

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,ward,precinct,location_street_name,location_zipcode,latitude,longitude,source,year,sla_duration,geometry
0,101000295613,2011-06-30 21:32:33,2011-07-14 21:32:32.000000000,2011-07-01 01:06:58,ONTIME,Closed,Case Closed Case Resolved replaced 100 amp fus...,Street Light Outages,Public Works Department,Street Lights,...,Ward 17,1714,INTERSECTION Groveland St & River St,NaN,42.271544,-71.077221,Employee Generated,2011,13.0,POINT (-71.07722 42.27154)
1,101000295614,2011-06-30 22:18:31,2011-07-04 22:18:31.000000000,2011-07-01 02:12:43,ONTIME,Closed,Case Closed Case Scheduled Items have been sch...,Schedule a Bulk Item Pickup,Public Works Department,Sanitation,...,Ward 20,2008,39 Lorraine St,2131.0,42.283850,-71.144741,Self Service,2011,4.0,POINT (-71.14474 42.28385)
3,101000295616,2011-06-30 23:03:48,2011-07-14 23:03:48.000000000,2011-07-22 12:13:45,OVERDUE,Closed,Case Closed Case Resolved completed,Street Light Outages,Public Works Department,Street Lights,...,Ward 18,1816,235 Fairmount Ave,2136.0,42.249640,-71.115631,Self Service,2011,14.0,POINT (-71.11563 42.24964)
4,101000295617,2011-06-30 23:12:31,2011-07-26 05:31:27.842105263,2011-07-01 02:12:38,ONTIME,Closed,Case Closed Case Resolved,Highway Maintenance,Public Works Department,Highway Maintenance,...,Ward 13,1309,INTERSECTION Dorchester Ave & Hallam St,NaN,42.314436,-71.056878,Constituent Call,2011,NaN,POINT (-71.05688 42.31444)
5,101000295618,2011-06-30 23:43:07,2011-07-01 11:43:07.000000000,2011-07-05 05:16:10,ONTIME,Closed,Case Closed Case Noted,Notification,Mayor's 24 Hour Hotline,Notification,...,Ward 10,1006,7 Edge Hill St,2130.0,42.324290,-71.106031,Constituent Call,2011,NaN,POINT (-71.10603 42.32429)

### Handling missing values in column location_zipcode

In [35]:
g_check_null = gdf.isnull().sum()
g_nullpercent = g_check_null/len(gdf)* 100
print(g_nullpercent)

case_enquiry_id                    0.000000
open_dt                            0.000000
sla_target_dt                      0.000000
closed_dt                          0.000000
on_time                            0.000000
case_status                        0.000000
closure_reason                     0.000000
case_title                         0.000000
subject                            0.000000
reason                             0.000000
type                               0.000000
queue                              0.000000
department                         0.000000
location                           0.000000
fire_district                      0.000000
pwd_district                       0.000000
city_council_district              0.000000
police_district                    0.000000
neighborhood                       0.000000
neighborhood_services_district     0.000000
ward                               0.000000
precinct                           0.000000
location_street_name               0.000000
location_zipcode                  21.051085
latitude                           0.000000
longitude                          0.000000
source                             0.000000
year                               0.000000
sla_duration                      14.534747
geometry                           0.000000
dtype: float64

In [36]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\purva\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in c:\users\purva\anaconda3\lib\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\purva\anaconda3\lib\site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in c:\users\purva\anaconda3\lib\site-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=1.4.0 in c:\users\purva\anaconda3\lib\site-packages (from geopandas) (2.2.2)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\purva\anaconda3\lib\site-packages (from geopandas) (3.7.0)
Requirement already satisfied: shapely>=2.0.0 in c:\users\purva\anaconda3\lib\site-packages (from geopandas) (2.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\purva\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\purva\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\purva\anaconda3\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in c:\users\purva\anaconda3\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\purva\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)

In [37]:
import geopandas

In [38]:
import geopandas as gpd
import pandas as pd

# Convert to GeoDataFrame
gdf_points = gpd.GeoDataFrame(
    gdf,
    geometry=gpd.points_from_xy(df.longitude, df.latitude),
    crs="EPSG:4326"
)

# Load the shapefile
shpfile_path = "D:\\6980-Capstone\\ZCTA_shapefile\\cb_2018_us_zcta510_500k.shp"
zip_gdf = gpd.read_file(shpfile_path)
print("Shapefile loaded successfully")

Shapefile loaded successfully

In [39]:
print(zip_gdf.head())

  ZCTA5CE10      AFFGEOID10 GEOID10    ALAND10  AWATER10  \
0     36083  8600000US36083   36083  659750662   5522919
1     35441  8600000US35441   35441  172850429   8749105
2     35051  8600000US35051   35051  280236456   5427285
3     35121  8600000US35121   35121  372736030   5349303
4     35058  8600000US35058   35058  178039922   3109259

                                            geometry
0  MULTIPOLYGON (((-85.63225 32.28098, -85.62439 ...
1  MULTIPOLYGON (((-87.83287 32.84437, -87.83184 ...
2  POLYGON ((-86.74384 33.25002, -86.73802 33.251...
3  POLYGON ((-86.58527 33.94743, -86.58033 33.948...
4  MULTIPOLYGON (((-86.87884 34.21196, -86.87649 ...

In [40]:
# Perform spatial join
joined_gdf = gpd.sjoin(gdf_points, zip_gdf, how='left', predicate='within')

# Extract zip codes
gdf['location_zipcode'] = joined_gdf['ZCTA5CE10']

print("Spatial Join Completed Successfully")

Spatial Join Completed Successfully

In [41]:
#drop remaining 0.3% values from location_zipcode col
gdf = gdf.dropna(subset=['location_zipcode'])

In [42]:
check_null_zipcd = gdf['location_zipcode'].isnull().sum()
nullpercent_zipcd = check_null_zipcd/len(gdf)* 100
print(nullpercent_zipcd)

0.0

In [43]:
#dropping unnecessary column
gdf = gdf.drop('sla_duration', axis=1)

In [44]:
g_check_null = gdf.isnull().sum()
g_nullpercent = g_check_null/len(gdf)* 100
print(g_nullpercent)

case_enquiry_id                   0.0
open_dt                           0.0
sla_target_dt                     0.0
closed_dt                         0.0
on_time                           0.0
case_status                       0.0
closure_reason                    0.0
case_title                        0.0
subject                           0.0
reason                            0.0
type                              0.0
queue                             0.0
department                        0.0
location                          0.0
fire_district                     0.0
pwd_district                      0.0
city_council_district             0.0
police_district                   0.0
neighborhood                      0.0
neighborhood_services_district    0.0
ward                              0.0
precinct                          0.0
location_street_name              0.0
location_zipcode                  0.0
latitude                          0.0
longitude                         0.0
source                            0.0
year                              0.0
geometry                          0.0
dtype: float64

In [45]:
#checking NaN values or blank values
blank_values = gdf.eq('').sum()
print(blank_values)

NaN = gdf.eq('Nan').sum()
print(NaN)

case_enquiry_id                   0
open_dt                           0
sla_target_dt                     0
closed_dt                         0
on_time                           0
case_status                       0
closure_reason                    0
case_title                        0
subject                           0
reason                            0
type                              0
queue                             0
department                        0
location                          0
fire_district                     0
pwd_district                      0
city_council_district             0
police_district                   0
neighborhood                      0
neighborhood_services_district    0
ward                              0
precinct                          0
location_street_name              0
location_zipcode                  0
latitude                          0
longitude                         0
source                            0
year                              0
geometry                          0
dtype: int64
case_enquiry_id                   0
open_dt                           0
sla_target_dt                     0
closed_dt                         0
on_time                           0
case_status                       0
closure_reason                    0
case_title                        0
subject                           0
reason                            0
type                              0
queue                             0
department                        0
location                          0
fire_district                     0
pwd_district                      0
city_council_district             0
police_district                   0
neighborhood                      0
neighborhood_services_district    0
ward                              0
precinct                          0
location_street_name              0
location_zipcode                  0
latitude                          0
longitude                         0
source                            0
year                              0
geometry                          0
dtype: int64

# Download file to local machine

In [49]:
#save file to device
csv_filepath = "D:\\6980-Capstone\\Individual Project\\datasets\\Boston311.csv"
gdf.to_csv(csv_filepath, index=False)
print ("Data saved to Boston311.csv successfully")

Data saved to Boston311.csv successfully

In [84]:
# Filter for syringe-related requests
syringe_csv_filepath = "D:\\6980-Capstone\\Individual Project\\datasets\\syringe_requests_data.csv"
syringe_requests = gdf[gdf['case_title'].str.contains('syringe|needle', case=False, na=False)]

# Check if the filtered dataset is empty
if syringe_requests.empty:
    print("No syringe-related requests found.")
else:
    # Save the filtered dataset to a CSV file
    syringe_requests.to_csv(syringe_csv_filepath, index=False)
    print("Filtered dataset saved successfully as 'syringe_requests_data.csv'.")

Filtered dataset saved successfully as 'syringe_requests_data.csv'.

# END